.message {
  display: grid;
  grid-template-rows: 1px max-content min-content;
  grid-template-areas: "picker" "text" "reactions";
  height: max-content;
}

.my-message {
  float: right;
}

.my-message .message-text {
  background-color: #1982FC;
  text-align: right;
}

.message-text {
  background-color: gray;
  border-radius: 30px;
  height: min-content;
  padding: 8px;
  box-sizing: border-box;
  width: max-content;
  grid-area: text;
}

.message-line {
  height: 25px;
  width: max-content;
}

.pending-message {
  color: lightgray;
  background-color: darkgray;
}

.reaction-picker {
  grid-area: picker;
  position: relative;
  float: left;
}

.message-reactions {
  position: relative;
  top: -10px;
  grid-area: reactions;
  width: min-content;
}

.my-message .message-reactions {
  justify-self: end;
}
