.message {
  margin: 2px;
}

.my-message {
  float: right;
}

.my-message .message-text {
  background-color: cornflowerblue;
  text-align: right;
}

.message-text {
  border: 1px solid gray;
  border-radius: 10px;
  min-height: 30px;
  padding: 2px;
  box-sizing: border-box;
  width:200px;
  grid-area: message-text;
}

.pending-message {
  color: lightgray;
  background-color: darkgray;
}
