html {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  background-color: black;
  color: white;
}

* {
  font-family: "Trebuchet MS", serif;
}

body {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
}


.user-input-form {
  width: max-content;
}

.user-input-form input {
  background-color: transparent;
  color: white;
  border-radius: 30px;
  border: 1px solid gray;
  height: 30px;
  margin: 5px;
  padding-left: 25px;
  padding-right: 5px;
}

.user-input-form .submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
}

button {
  border-radius: 30px;
  background-color: #1982FC;
  color: white;
  border: none;
  width: 80px;
}
